#!/bin/sh
# SPDX-FileCopyrightText: 2022 Chris Montgomery <chris@cdom.io>
# SPDX-License-Identifier: GPL-3.0-or-later

# shellcheck disable=SC1090
. "$(
  nix eval \
  --no-update-lock-file \
  --no-write-lock-file \
  --no-warn-dirty \
  --accept-flake-config \
  .#__std.direnv_lib 2>/dev/null \
  || nix eval .#__std.direnv_lib # show the errors
)"
use std cells //_automation/devshells:default
