# Uncomment to disable the automatic menu display.
# export DEVSHELL_NO_MOTD=1

watch_file nix/devshells/* flake.nix

# Load the default devshell.
use flake || use nix

# Install git hooks
lefthook install
